.zero {
    position: absolute;
    transform: translateY(-100%);
    top: 101%;
}
.colsContainer {
    min-width: 100%;
    height: 100%;

    display: flex;
    align-items: end;
    gap: 2px;
    overflow: auto;
    padding-right: var(--tracker-l-space);
}
.wrapper {
    position: relative;
    height: 350px;
    width: 100%;

    display: flex;
    padding: var(--tracker-l-space);
    overflow: hidden;
}
.column {
    position: relative;
    max-width: 20px;
    min-width: 16px;
    width: 100%;
    box-shadow: 0 0 4px 1px var(--light-color);
}
.column:hover {
    z-index: 10000;
    box-shadow: 0 0 4px 1px var(--accent-color) !important;
}

.column .num {
    position: absolute;
    display: none;
    top: 4px;
    right: calc(100% + 12px);
    padding: var(--tracker-s-space);
    box-shadow: 0 0 4px 1px var(--light-color);
    border-radius: var(--tracker-br-small);
    background: white;
}
.column:hover .num {
    display: flex;
    align-items: center;
}
.x {
    position: absolute;
    z-index: 10000;
    bottom: var(--tracker-l-space);
    left: 0;
    height: 1px;
    width: 100%;

    background: var(--prime-color);
}
.y {
    flex-shrink: 0;
    height: 100%;
    width: 1px;

    transform: scaleY(1.2);
    background: var(--prime-color);
}
.metrics {
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 4px;
}
