.wrapper {
    padding: var(--tracker-l-space);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.diagramm {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    aspect-ratio: 1;
    margin-bottom: 16px;
    box-shadow: 0 0 4px 1px var(--light-color);
}
.ul {
    padding-left: var(--tracker-l-space);
}
.ul li {
    position: relative;
    cursor: pointer;
}
.before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-150%) translateY(50%);
    height: 50%;
    aspect-ratio: 1;
}
.ul li:hover ~ li {
    color: var(--light-color2);
}
.ul li:has(~ li:hover) {
    color: var(--light-color2);
}
.ul li:hover ~ li .before {
    background: var(--light-color2) !important;
}
.ul li:has(~ li:hover) .before {
    background: var(--light-color2) !important;
}
