.column {
    position: relative;
}
.column:hover {
    z-index: 10000;
    box-shadow: 0 0 4px 1px var(--accent-color) !important;
}

.column .num {
    position: absolute;
    display: none;
    top: 4px;
    right: calc(100% + 12px);
    padding: var(--tracker-s-space);
    box-shadow: 0 0 4px 1px var(--light-color);
    border-radius: var(--tracker-br-small);
    background: white;
}
.column:hover .num {
    display: flex;
    align-items: center;
}
.x {
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    transform: translateY(-50%);
    background: var(--prime-color);
}
.y {
    height: 100%;
    width: 1px;
    background: var(--prime-color);
}
.metrics {
    height: 100%;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 4px;
}
