.form {
    transition: all 200ms linear;
}
.title {
    text-decoration: underline;
    cursor: pointer;
    transition:
        color 200ms ease,
        background 300ms linear;
}
.title:hover {
    color: var(--light-color2);
}
.container {
    border: none;
    max-height: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    gap: var(--tracker-m-space);
    transition: 300ms linear;
}
.container.containerOpened {
    max-height: 20em;
    padding-block: var(--tracker-m-space);
    gap: var(--tracker-m-space);
}

.input {
    width: 100%;
    border: none;
    outline: none;
    padding: var(--tracker-s-space);
    border-radius: var(--tracker-br-small);
    background: var(--light-color2);
}
.inputHasText {
    background: var(--light-color);
}

.submitButton {
    padding: var(--tracker-s-space);
    transition: all 50ms ease-in;
    box-shadow: 0 3px 0 var(--border-color);
    border: none;
    border-radius: var(--tracker-br-small);
    transform: translateY(-3px);
    background: var(--light-color);
}
.submitButton:hover:enabled {
    filter: brightness(1.1);
    cursor: pointer;
}
.submitButton:active:enabled {
    box-shadow: 0 0px 0 var(--border-color);
    transform: translateY(0px);
}
.submitButton:disabled {
    transform: translateY(0px);
    box-shadow: none;
    background: var(--light-color2);
}
.container h3:has(+ .tracker-form-opened) {
    background: var(--light-color);
}
.select {
    padding: var(--tracker-s-space);
    min-width: 5em;
    border: none;
    border-radius: var(--tracker-br-small);
    background: var(--light-color2);
}
.select:focus {
    background: var(--light-color);
}
.select.inputHasText {
    background: var(--light-color);
}
.hContainer {
    display: flex;
    flex-direction: row;
    gap: var(--tracker-l-space);
}
