.tracker .tracker-form-input {
  width: 100%;
  border: none;
  outline: none;
  padding: var(--tracker-small-space);
  border-radius: var(--tracker-br-small);
  background: var(--light-color2);
}
.tracker .tracker-form-input-hasText {
  background: var(--light-color);
}
.tracker .tracker-form-submitButton {
  padding: var(--tracker-small-space);
  transition: all 50ms ease-in;
  box-shadow: 0 3px 0 var(--border-color);
  border: none;
  border-radius: var(--tracker-br-small);
  transform: translateY(-3px);
  background: var(--light-color);
}
.tracker .tracker-form-submitButton:hover:enabled {
  filter: brightness(1.1);
  cursor: pointer;
}
.tracker .tracker-form-submitButton:active:enabled {
  box-shadow: 0 0px 0 var(--border-color);
  transform: translateY(0px);
}
.tracker .tracker-form-submitButton:disabled {
  transform: translateY(0px);
  box-shadow: none;
  background: var(--light-color2);
}
.tracker .tracker-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow: hidden;
  transition: all 200ms linear;
  max-height: 0px;
  padding-inline: var(--tracker-big-space);
}
.tracker .tracker-form-container h3 {
  padding-inline: var(--tracker-big-space);
  padding-block: var(--tracker-small-space);
  border-radius: var(--tracker-br-small);
  transition: background 200ms 100ms linear;
  cursor: pointer;
  background: var(--light-color2);
}
.tracker .tracker-form-container h3:has(+ .tracker-form-opened) {
  background: var(--light-color);
}
.tracker .tracker-form-opened {
  max-height: 300px;
  padding: var(--tracker-big-space);
}
.tracker .tracker-form-select {
  padding: var(--tracker-small-space);
  min-width: 5em;
  border: none;
  border-radius: var(--tracker-br-small);
  background: var(--light-color2);
}
.tracker .tracker-form-select:focus {
  background: var(--light-color);
}
.tracker .tracker-form-select.tracker-form-input-hasText {
  background: var(--light-color);
}
.tracker .tracker-form-container {
  margin-top: auto;
  border: 2px solid var(--form-color);
  border-radius: var(--tracker-br-small);
}
