.tracker .tracker-history-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: var(--tracker-small-space);
}
.tracker .tracker-history-container h3 {
}
.tracker .tracker-li-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: var(--tracker-small-space);
  width: 100%;
}
.tracker .tracker-historyList {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: var(--tracker-small-space);
}

.tracker .tracker-li-h-container {
  width: 100%;
  display: flex;
  gap: var(--tracker-small-space);
  justify-content: space-between;
  align-items: center;
}
.tracker .tracker-li {
  display: flex;
  flex-direction: column;
  gap: var(--tracker-small-space);
}
.tracker .tracker-descr {
  max-height: 1px;
  word-break: break-all;
  padding-inline: var(--tracker-big-space);
  border-radius: var(--tracker-big-space);
  background: var(--light-color2);
  transition: 900ms ease-in-out;
  overflow: hidden;
}
.tracker .tracker-li-clicked .tracker-descr {
  max-height: 20em;
}
.tracker .tracker-num {
  text-align: end;
  padding-inline-start: var(--tracker-big-space);
}
.tracker .tracker-li-date {
  margin-inline-start: auto;
}
.tracker .tracker-exp {
  color: var(--red-color);
}
.tracker .tracker-inc {
  color: var(--green-color);
}
.tracker .tracker-delete {
  overflow: hidden;
  transition: 200ms linear;
  padding: var(--tracker-small-space);
  flex-shrink: 0;
}
