.history {
    height: 100%;
    position: relative;
}
.tracker .tracker-history-filter {
    display: flex;
    gap: var(--tracker-s-space);
}
.historyList {
    display: flex;
    flex-direction: column;
    gap: calc(var(--tracker-s-space) * 1.5);
}

/*date history list*/
.dateHistoryList {
    display: grid;
    grid-template-columns: 1fr 1fr 10fr;
    width: 100%;
    max-height: 0em;
    overflow: hidden;
}

.dateHistoryList.dateHistoryListOpened {
    max-height: initial;
    padding: var(--tracker-s-space);
    padding-inline-start: var(--tracker-l-space);
}
.dateTitle {
    display: flex;
    gap: var(--tracker-l-space);
    overflow: hidden;
}
.date {
    color: var(--border-color);
    transition: color 200ms linear;
    cursor: pointer;
}
.date:hover {
    color: var(--prime-color);
}

/*balance that showed in date history list title*/
.dateBalance {
    overflow: hidden;
    transition: transform 300ms linear;
}
.dateBalancePlus {
    color: var(--green-color);
}
.dateBalanceMinus {
    color: var(--red-color);
}
.dateBalanceOpened {
    transform: translateY(100%);
}

/* history item */
.historyItem {
    position: relative;

    list-style: disc;
    display: grid;
    grid-column: 1/4;
    grid-template-columns: subgrid;
    gap: var(--tracker-m-space);
    transition: all 200ms linear;
    cursor: pointer;
}

/*MARKER*/
.historyItem:hover::before {
    background: var(--accent-color);
}
.historyItem::before {
    content: "";
    position: absolute;
    left: -16px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 100%;
    transition: background 100ms linear;
}

.descr {
    max-height: 2em;
    font-size: 0.9em;

    padding-inline: var(--tracker-m-space);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 400ms linear;
}
.descr.open {
    max-height: 20em;
    white-space: wrap;
    overflow: auto;
}

.num {
    text-align: center;
}
.exp {
    color: var(--red-color);
}
.inc {
    color: var(--green-color);
}
.category {
    justify-self: start;
    border: 1px solid var(--accent-color);
    border-radius: var(--tracker-l-space);
    padding-inline: var(--tracker-m-space);
}
