.tracker .tracker-incExp-container {
    min-width: 8em;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
}
.tracker-incExp-income {
    color: var(--green-color);
}
.tracker-incExp-expense {
    color: var(--red-color);
}
