.tracker-incExp-container {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
}
.tracker-incExp-income {
  color: var(--green-color);
}
.tracker-incExp-expense {
  color: var(--red-color);
}
