.tracker .tracker-settings-sign {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5em;
  padding-inline: var(--tracker-small-space);
  cursor: pointer;
  color: var(--light-color);
  background: none;
  z-index: 10002;
}
.tracker .tracker-settings-sign:hover {
  color: var(--border-color);
}

.tracker .tracker-settings {
  position: absolute;
  z-index: 10001;
  height: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  color: transparent;
  background: transparent;
  border-radius: var(--tracker-br);
  transition:
    background 0ms linear,
    color 0ms ease;
}
.tracker .tracker-settings.tracker-settings-opened {
  height: 100%;
  width: 100%;
  color: var(--prime-color);
  padding: var(--tracker-big-space);
  background: var(--light-color2);
  transition:
    background 200ms linear,
    color 200ms ease;
}
.tracker .tracker-settings-field {
  display: flex;
  flex-direction: column;
  gap: calc(var(--tracker-big-space) / 2);
}
.tracker .tracker-setting-container {
  display: flex;
  justify-content: space-between;
}
.tracker .tracker-settings-title {
  text-decoration: underline;
  margin-block-end: var(--tracker-big-space);
}
