.tracker-button {
    border-radius: var(--tracker-s-space);
    padding: var(--tracker-s-space);
    cursor: pointer;
}
.tracker-title {
    font-size: var(--title-fs);
    color: var(--title-color);
}
.tracker-box {
    padding: var(--tracker-m-space);
    border: 2px solid var(--light-color2);
    border-radius: var(--tracker-br-small);
}
.tracker-out-box {
    display: flex;
    flex-direction: column;
    gap: var(--tracker-s-space);
}

/* emptylist */
.tracker-emptyList {
    color: var(--light-color);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tracker-emptyList .tracker-arrow {
    font-size: 3em;
    background: linear-gradient(90deg, transparent, #00ffbd, #006bff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 1000ms linear infinite;
    background-size: 400% 100%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes blinking {
    0% {
        color: transparent;
    }
    100% {
        color: transparent;
    }
}
